# dependencies
/node_modules
/.pnp
.pnp.*

# yarn berry (keep releases/plugins, ignore cache & state)
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# next.js
/.next/
/out/
next-env.d.ts

# production
/build

# prisma generated client
/node_modules/.prisma
/prisma/generated

# testing
/coverage

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (NUNCA subir secretos)
.env
.env*.local
.env.development
.env.production

# vercel
.vercel

# typescript
*.tsbuildinfo

# abacus/hosting artifacts
__abacus_error_reporter.js
